.headercontainer {
  padding: 10px 80px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headercontainer h1 {
  font-size: 50px;
}
.headercontainer p {
  margin-top: 15px;
}
.blue {
  color: hsla(224, 100%, 58%, 1);
}
.yellow {
  color: hsla(51, 100%, 50%, 0.79);
}
.herobutton {
  background-color: hsla(224, 100%, 58%, 1);
  padding: 15px 18px;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.headerimage {
  width: 300px;
  height: 300px;
}
